@mainColor: #ea862e;
@NavBarHeight: 80px;
@FooterHeight: 110px;
@SideNavWidth: 320px;
@import "pizza/pizza-card";
@import "container/navBar";
@import "container/footer";
@import "container/sideNav";
@import "container/row";
@import "container/content";
@import "container/mainContainer";
@import "container/badges";
