<% include common/header.ejs %>

<div class="discount-panel">
    <div class="discount-before">
    </div>
    <div class="discount-title">
        ЦЬОГО ТИЖНЯ НА ВСЕ
    </div>
    <div class="discount-text">
        -20%
    </div>
</div>
<% include common/navBar.ejs %>
<div class="container-fluid main-container">
    <div class="row" >
        <div class = "content">
            <div class="content-title">
                <h2>
                    <span class="count-tile">Усі піци</span>
                    <span class="badge orange pizza-count">8</span>
                </h2>
            </div>
            <div class="all-pizza-type-wrap">
                <ul class="nav nav-pills all-pizza-type">
                    <li role="presentation" class="pizza-filter-button active" id="filter-button-all-pizza">
                        <a href="#">
                            Усі
                        </a>
                    </li>
                    <li role="presentation" class="pizza-filter-button" id="filter-button-meat">
                        <a href="#">
                            Мясні
                        </a>
                    </li>
                    <li role="presentation" class="pizza-filter-button" id="filter-button-pineapples">
                        <a href="#">
                            З ананасами
                        </a>
                    </li>
                    <li role="presentation" class="pizza-filter-button" id="filter-button-mushrooms">
                        <a href="#">
                            З грибами
                        </a>
                    </li>
                    <li role="presentation" class="pizza-filter-button" id="filter-button-ocean">
                        <a href="#">
                            З морепродуктами
                        </a>
                    </li>
                    <li role="presentation" class="pizza-filter-button" id="filter-button-vega">
                        <a href="#">
                            Вега
                        </a>
                    </li>
                </ul>
            </div>
            <div class="" id="pizza_list">

            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<% include common/sidenav.ejs %>
</div>
</div>

<% include common/footer.ejs %>