<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="badge-logo">
            <div class="badge-discount top-badge-discount"></div>
            <a class="logo" href="http://localhost:5050/#"><h3>Pizza</h3> <h2>KMA</h2></a>
        </div></div>
    <div class="navbar-raw">
        <div class="navbar-top-raw">
            <div class="phone-number visible-xs-inline-block visible-sm-inline-block visible-lg-inline-block visible-md-inline-block">
                (044) 222 5 222
            </div>
            <div class="work-days visible-lg-inline-block visible-md-inline-block">
                24 години/ 7 днів на тиждень
            </div>
            <div class="delivery visible-lg-inline-block">
                Безкоштовна доставка піци
            </div>
            <div type="button" class="login btn btn-warning sign-in-button">
                Ввійти
            </div>
        </div>
        <div class="navbar-bottom-row">
        <span class=" pizza-page" style="color:white;">
            <a  href="http://localhost:5050/#" style="color:white;" class="hidden-xs">Піца</a> &nbsp;
        </span>
        </div>
    </div>
    </div>
</nav>