<div class="sidenav">
    <div class="order-row1">
                <span class="order-list-title">
                    Замовлення
                    <span class="badge orange orders-count-span">1</span>
                </span>
        <span class="clear-order">
                    Очистити замовлення
                    </span>
    </div>
    <div class="order-row2" id="cart">

    </div>
    <div class="order-row3">
                <span class="sum-title" style="">
                    Сума замовлення
                </span>
        <span class="sum-number" style=""></span>
        <div class="do-order-button">
            <button  type="button" class="btn btn-warning btn-lg btn-block button-order">
                Замовити
            </button>
        </div>

    </div>
</div>