.sidenav {
    height: 100%;
    width: @SideNavWidth;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    box-shadow: rgba(0,0,0,0.25) -4px 4px 10px;
    background-color: #F5F5F5;
}
@SideNavTopHeight: 80px;
@SideNavBottomHeight: 110px;
.order-raw1 .order-raw2 .order-raw3 {
    overflow-x: hidden;
}
.order-raw2 {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-top: @SideNavTopHeight;
    padding-bottom: @SideNavBottomHeight;
    .order-one {
        height: 120px;
        padding: 20px 61px 10px 24px;
        border-bottom: 1px solid rgba(0,0,0,.1);
        position: relative;
        overflow: hidden;
        .img-aside {
            position: absolute;
            right: -48px;
            top: 15px;
            border-radius: 50% 0 0 50%;
            max-height: 96px;
            max-width: 96px;
        }
        .order-title {
            line-height: 16px;
            font-size: 20px;
            color: @mainColor;
        }
        .order-text {
            font-size: 12px;
            line-height: 16px;
            margin: 6px 0 8px;
            .gram-image {
                margin-left: 15px;
            }
        }
        .price-box {
            font-size: 14px;
            font-weight: 700;
            .price {
                margin-right: 10px;
            }
        }
        .btn-circle {
            width: 30px;
            height: 30px;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
        }
        .count-clear {
            margin-left: 25px;
            color: @mainColor;
        }
    }
}
.order-raw1 {
    width: 100%;
    height: @SideNavTopHeight;
    padding-top: 25px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    .order-list-title {
        font-size: 20px;
        font-weight: 700;
        line-height: 17px;
        padding-left: 15px;
        .orange {
            background-color: @mainColor;
        }
    }
    .clear-order {
        float: right;
        margin-top: 5px;
        cursor: pointer;
        padding-right: 15px;
        font-size: 10px;
        line-height: 11px;
        font-weight: 400;
        color: rgba(0,0,0,.5);
    }
}
.order-raw3 {
    width: 100%;
    height: @SideNavBottomHeight;
    padding: 10px;
    margin: 0;
    background-color: white;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    .sum-title {
        font-weight: 700;
        font-size: 15px;
        margin-bottom: 15px;
    }
    .sum-number {
        font-weight: 700;
        font-size: 20px;
        float: right;
        padding-right: 30px;
        margin-bottom: 15px;
    }
    .do-order-button {
        padding: 20px 40px 20px 20px;
    }
}

