.pizza-card {
  position: relative;

  img {
    max-width: 240px;
  }

  h3 {
    color: @mainColor;
    background-color: lighten(@mainColor, 45%);
  }
}
.col-offset-320{
  padding-right: 320px;
  z-index:0;
}